.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    flex: 1;
    margin: 0 auto;
    max-width: 500px;
}

.category {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}


.category img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; /* Proširuje se na preostali prostor između headera i footera */
    text-align: center;
    padding: 20px;
}

.opisni-tekst{
    font-size: 20px;
    margin-bottom: 20px;
}

/* hover efekt */
.category:hover img {
    transform: scale(1.05);
}

/* button na slici */
.category .add-to-cart {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
}

/* pokazivanje dugmeta na slici */
.category:hover .add-to-cart {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.category p, .category .price {
    margin-top: 10px;
    color: black;
    font-size: 14px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
}

.filters .filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filters label {
    font-size: 14px;
    font-weight: bold;
}

.filters select, .filters input[type="radio"] {
    font-size: 14px;
    padding: 5px;
}
